/* Tapas.css start */
/* .Controls label select {
    width: calc(var(--numwidth)*1.65 + 4px);
  }
.bundleGrid {
    display:grid;
    grid-gap: 5px;
    grid-template-columns: 35% 25% 25% 15%;
    width: 25vw;
    width: 100%;
    text-align: center;
}
.bundleGrid p {
    margin: 0;
    font-size: 0.75em;
}
.bundleGrid label {
    text-align: initial;
}
.bundleGrid h4 {
    margin-bottom: 5px;
    border-bottom: 1px solid red;
}
.onestep {
    padding-top: 10px;
} */
/* Tapas.css end */